<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>98718386623-4on8et4fcf5apddebc70qs9iasld0ov1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98718386623-4on8et4fcf5apddebc70qs9iasld0ov1</string>
	<key>API_KEY</key>
	<string>AIzaSyDzK2De3qmFpjphPckt3qKtvq1YNWK6XLA</string>
	<key>GCM_SENDER_ID</key>
	<string>98718386623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.philantoline.rise</string>
	<key>PROJECT_ID</key>
	<string>rise-59236</string>
	<key>STORAGE_BUCKET</key>
	<string>rise-59236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98718386623:ios:489d32e8862317b6</string>
	<key>DATABASE_URL</key>
	<string>https://rise-59236.firebaseio.com</string>
</dict>
</plist>